
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f5f5;
}

.calculator {
    background-color: #7e7c7c;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

#display {
    width: 100%;
    height: 50px;
    margin: 0;
    font-size: 24px;
    text-align: right;
    padding: 10px;
    box-sizing: border-box;
    border: rgb(7, 6, 6);
    outline: rgb(0, 0, 0);
}


.m-buttons {
    display: flex;
    justify-content: center;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    padding: 10px;
    box-sizing: border-box;
}

button {
    width: 100%;
    height: 60px;
    font-size: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #4caf50;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}
